<div class="container">
  <h1>Stupid coaching</h1>

  <div class="quote">
    <p class="fw-bold"><%= @question %></p>
    <p class="fst-italic">-You</p>
  </div>

  <div class="quote">
    <p class="fw-bold"><%= @answer%></p>
    <p class="fst-italic">-Your coach</p>
  </div>

  <p><%= link_to "Ask a new question", ask_path %></p>
</div>
